<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>파일 업로드</title>
</head>
<body>
<h1>File upload</h1>
<!-- 파일 업로드는 무조건 post -->       <!-- 파일을 서버로 보낼 때 사용하는 전송 방식 -->
<form method="post" action="/upload" enctype="multipart/form-data">
  <!-- multiple : 여러 파일 선택 가능 -->
  <input type="file" name="uploadfile" multiple="multiple">
  <!--               컨트롤러에서 받는 이름 / 여러 파일 업로드 가능 -->
<!--                 uploadfile로 들어온 데이터를 컨트롤러에서 uploadfile이라는 파라미터에 매핑-->
  <input type="submit" value="Upload">
</form>
</body>
</html>