<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!-- 네임스페이스 태그-->
<head>
    <meta charset="UTF-8">
    <title>카운터 사용해보기</title>
</head>

<body>
<h2 id="count" th:text="|카운트 : ${ count }|">카운트 : 0</h2>
<button onclick="plus();">더하기</button>
<button onclick="minus();">빼기</button>
<br/>
<button onclick="api_plus();">API 더하기</button>
<button onclick="api_minus();">API 빼기</button>
<script>
    function plus() {
        window.location.href = "/plus";
    }

    function minus() {
        window.location.href = "/minus";
    }

    function api_plus() {
        fetch("/api/plus", {
            method: "GET",
                      //내가 보내는 body의 형식
            headers: {"Content-Type": "application/json"},
        })
            .then((response) => {

                if (!response.ok) throw new Error("HTTP 오류 : " + response.status);
                return response.json();
            })
            .then((count) => {
                console.log(count);
                document.getElementById("count").innerText = "카운트 : " + count;
            }).catch((err)=>{
                console.log(err);
                alert("요청 실패! 콘솔 확인해주세요!")
        })
    } //api_plus

    function api_minus() {
        fetch("/api/minus", {
            method : "GET",
            headers : { "Content-Type":"application/json"},
        })
            .then((response)=>{ return response.json();})
            .then((json)=>{
                console.log(json);
                document.getElementById("count").innerText = "카운트 : " + count;
            })
    }
</script>
</body>

</html>