<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>메인화면</title>
</head>
<body>

<h2>메인화면</h2>



<b>로그인여부( isAuthenticated( ) ) :</b> <br>
isAuthenticated()함수가 true이면 span text가 표시된다. false면 사라짐.<br>
<span sec:authorize="isAuthenticated()" style="color:blue">인증 후 - 로그인 상태</span> <br>
<b>로그인여부( isAnonymous( ) ) :</b> <br>
isAnonymous()함수가 ture이면 span text가 표시된다. false면 사라짐.<br>
<span sec:authorize="isAnonymous()" style="color:red">인증 전 - 로그아웃 상태</span>
<hr>
<h3 style="color:gray">현재 상태 버튼</h3>
<th:block sec:authorize="isAuthenticated()">
  <a th:href="@{/logoutAction}">로그아웃</a>
</th:block>
<th:block sec:authorize="isAnonymous()">
  <a th:href="@{/loginForm}">로그인</a>
</th:block>
<br>
<br>
<hr>
<h3 style="color:gray">권한과 역할</h3>
<b>hasRole('USER') :</b> <br>
<span sec:authorize="hasRole('USER')">일반회원입니다.</span>
<hr>
<b>hasRole('ADMIN') :</b> <br>
<th:block sec:authorize="hasRole('ADMIN')">
  <sapn >관리자입니다.</sapn>
  <a th:href="@{/admin}">관리자 페이지로 이동( 회원목록 )</a>
</th:block>

<hr>


</body>
</html>